<a href="https://colab.research.google.com/github/itsmarcello/Meus_Cursos/blob/master/Curso_Cientista_de_Dadoss_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
# iniciar uma sessão local e importar dados do Airbnb
from pyspark.sql import SparkSession
sc = SparkSession.builder.master('local[*]').getOrCreate()

In [1]:
# create Spark context with Spark configuration
from pyspark import SparkConf
from pyspark import SparkContext
conf = SparkConf().setAppName("read text file in pyspark")
sc = SparkContext(conf=conf)

In [15]:
# Criando uma lista em Python
lista1 = [124, 901, 652, 102, 397]


# Carregando dados de um CSV
autoDataRDD = sc.textFile("carros.csv")
sc.textFile
auto = sc.textFile("carros.csv")
# Mostrar CSV
autoDataRDD.collect() #--> Print tudo
autoDataRDD.first() #--> Print First Line
autoDataRDD.take(5) #--> Print First Line
autoDataRDD.cache() #--> Print OS Tipos dos 

# Print line one by line
# for line in lines.collect():
# 	print(line)
 
# Tranformação 1 :  Map() e criação de um novo RDD - Transformação - Lazy Evaluation
tsvData = autoDataRDD.map(lambda x : x.replace(",","\t"))
tsvData.take(5)

# Tranformação 2 :Filter() e criação de um novo RDD - Transformação - Lazy Evaluation
toyotaData = autoDataRDD.filter(lambda x: "toyota" in x)
toyotaData.count()

# Ação
toyotaData.take(20)

['toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348',
 'toyota,gas,std,two,hatchback,fwd,four,62,4800,31,38,6338',
 'toyota,gas,std,four,hatchback,fwd,four,62,4800,31,38,6488',
 'toyota,gas,std,four,wagon,fwd,four,62,4800,31,37,6918',
 'toyota,gas,std,four,sedan,fwd,four,70,4800,30,37,6938',
 'toyota,gas,std,four,hatchback,fwd,four,70,4800,30,37,7198',
 'toyota,gas,std,four,sedan,fwd,four,70,4800,38,47,7738',
 'toyota,diesel,std,four,hatchback,fwd,four,56,4500,38,47,7788',
 'toyota,gas,std,four,wagon,4wd,four,62,4800,27,32,7898',
 'toyota,diesel,std,four,sedan,fwd,four,56,4500,34,36,7898',
 'toyota,gas,std,two,sedan,rwd,four,70,4800,29,34,8058',
 'toyota,gas,std,two,hatchback,rwd,four,70,4800,29,34,8238',
 'toyota,gas,std,four,hatchback,fwd,four,70,4800,28,34,8358',
 'toyota,gas,std,two,hardtop,rwd,four,116,4800,24,30,8449',
 'toyota,gas,std,four,wagon,4wd,four,62,4800,27,32,8778',
 'toyota,gas,std,four,sedan,fwd,four,92,4200,29,34,8948',
 'toyota,gas,std,four,sedan,fwd,four,70,4800,28,34,9258',
 'toyota,gas,std,two,sedan,rwd,four,112,6600,26,29,9298',
 'toyota,gas,std,two,hatchback,rwd,four,112,6600,26,29,9538',
 'toyota,gas,std,two,hardtop,rwd,four,116,4800,24,30,9639']

In [18]:
# Gravar o Resultado em um Arquivo


toyotaData.saveAsTextFile("meuscarros.csv")